$dark: #333;
$white: #FFFFFF;

$cream: #F8EAA9;

$greyLightest: #F5F5F5;
$greyLighter: #eee;
$greyLight: #dcdcdc;
$grey: #999;
$greyDark: #333;
$greyDarker:  #111;
$greyDarkest: #2D3A40;

$greenLightest: #E3FCEC;
$greenLighter: #A2F5BF;
$greenLight: #51D88A;
$green: #38C172;
$greenDark: #1F9D55;
$greenDarker: #1A4731;
$greenDarkest: #0F2F21;

$blueLightest: #ECF5FC;
$blueLighter: #88CCED;
$blueLight: #6699CC;
$blue: #3097D1;
$blueBright: #3273DC;
$blueDark: #05286A;
$blueDarker: #013348;
$blueDarkest: #011822;

$red-darkest: #420806;
$red-darker: #6a1b19;
$red-dark: #a94442;;
$red: #e3342f;
$red-light: #ef5753;
$red-lighter: #f9acaa;
$red-lightest: #fcebea;

$orange-darkest: #542605;
$orange-darker: #7f4012;
$orange-dark: #de751f;
$orange: #f6993f;
$orange-light: #faad63;
$orange-lighter: #fcd9b6;
$orange-lightest: #fff5eb;