// Border Helpers
// -------------------------------------------------------------------------- */
$num: 6;
@for $i from 0 through $num {
    .brdr#{$i} { border-style: solid !important; border-width: #{$i}px !important; }
    .brdr#{$i}--top { border-top-style: solid !important; border-top-width: #{$i}px !important; }
    .brdr#{$i}--right { border-right-style: solid !important; border-right-width: #{$i}px !important; }
    .brdr#{$i}--bottom { border-bottom-style: solid !important; border-bottom-width: #{$i}px !important; }
    .brdr#{$i}--left { border-left-style: solid !important; border-left-width: #{$i}px !important; }
    
    .br#{$i}px--tr { border-top-right-radius: #{$i}px !important; }
    .br#{$i}px--tl { border-top-left-radius: #{$i}px !important; }
    .br#{$i}px--bl { border-bottom-left-radius: #{$i}px !important; }
    .br#{$i}px--br { border-bottom-right-radius: #{$i}px !important; }
    .br#{$i}px { border-radius: #{$i}px !important; }
}

.br50 {
    border-radius: 50%;
}

.brdr-none {
    border: none !important;
}