/***** Margin All [ ma ] **************************************************************************/
/************************************************************************************************/
$num: 5;

@while $num < 51 {
    .ma#{$num} {
        margin: #{$num}px;
    }
    $num: $num + 5;
}

.ma9 {
    margin: 9px;
}
.ma12 {
    margin: 12px;
}

/***** Margin Vertical [ mv ] **************************************************************************/
/************************************************************************************************/

$num: 5;

@while $num < 51 {
    .mv#{$num} {
        margin: #{$num}px 0px;
    }
    $num: $num + 5;
}


/***** Margin Horizontal [ mh ] **************************************************************************/
/************************************************************************************************/

$num: 5;

@while $num < 71 {
    .mh#{$num} {
        margin: 0px #{$num}px;
    }
    $num: $num + 5;
}

/***** Margin Top [ mt ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 71 {
    .mt#{$num} {
        margin-top: #{$num}px;
    }
    $num: $num + 5;
}

.mt9 {
    margin-top: 9px;
}

.mt10-negative {
    margin-top: -10px;
}

.mt15-negative {
    margin-top: -15px;
}

/***** Margin Right [ mr ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 71 {
    .mr#{$num} {
        margin-right: #{$num}px;
    }
    $num: $num + 5;
}

.mr10-negative {
    margin-right: -10px;
}

.mr15-negative {
    margin-right: -15px;
}

/***** Margin Bottom [ mb ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 71 {
    .mb#{$num} {
        margin-bottom: #{$num}px !important;
    }
    $num: $num + 5;
}

.mb10-negative {
    margin-bottom: -10px;
}

.mb15-negative {
    margin-bottom: -15px;
}

/***** Margin Left [ ml ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 71 {
    .ml#{$num} {
        margin-left: #{$num}px;
    }
    $num: $num + 5;
}

.ml10-negative {
    margin-left: -10px;
}

.ml15-negative {
    margin-left: -15px;
}