/***** Padding All [ pa ] **************************************************************************/
/************************************************************************************************/
$num: 5;

@while $num < 121 {
    .pa#{$num} {
        padding: #{$num}px;
    }
    $num: $num + 5;
}

.pa1 {
    padding: 1px;
}

.pa2 {
    padding: 2px;
}

/***** Padding Vertical [ pv ] **************************************************************************/
/************************************************************************************************/

$num: 5;

@while $num < 121 {
    .pv#{$num} {
        padding: #{$num}px 0px;
    }
    $num: $num + 5;
}

.pv1 {
    padding: 1px 0px;
}

.pv2 {
    padding: 2px 0px;
}

/***** Padding Horizontal [ ph ] **************************************************************************/
/************************************************************************************************/

$num: 5;

@while $num < 121 {
    .ph#{$num} {
        padding: 0px #{$num}px;
    }
    $num: $num + 5;
}

.ph1 {
    padding: 0px 1px;
}

.ph2 {
    padding: 0px 2px;
}

/***** Padding Top [ pt ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 121 {
    .pt#{$num} {
        padding-top: #{$num}px;
    }
    $num: $num + 5;
}

.pt1 {
    padding-top: 1px;
}

.pt2 {
    padding-top: 2px;
}

@media (max-width: 982px) {
    .pt130-tablet {
        padding-top: 130px;
    }
}

@media (min-width: 983px) {
    .pt162-desktop {
        padding-top: 162px;
    }
}



/***** Padding Right [ pr ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 121 {
    .pr#{$num} {
        padding-right: #{$num}px;
    }
    $num: $num + 5;
}

.pr1 {
    padding-right: 1px;
}

.pr2 {
    padding-right: 2px;
}

/***** Padding Bottom [ pb ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 121 {
    .pb#{$num} {
        padding-bottom: #{$num}px;
    }
    $num: $num + 5;
}

.pb1 {
    padding-bottom: 1px;
}

.pb2 {
    padding-bottom: 2px;
}

/***** Padding Left [ pl ] **************************************************************************/
/************************************************************************************************/

$num: 0;

@while $num < 121 {
    .pl#{$num} {
        padding-left: #{$num}px;
    }
    $num: $num + 5;
}

.pl1 {
    padding-left: 1px;
}

.pl2 {
    padding-left: 2px;
}